
*{
  /* will take up padding  margin _padding included for all elements*/
  box-sizing: border-box;
  text-decoration: none;
  /* font-family:  */
  font-size: 1rem;
  line-height:1.5;
  color       : white;
  overflow-x: hidden;
  /* background-color: black; */
}


body{
  margin: 0;
  font-size:1rem;
  line-height:1.5;
  color:white;
  overflow-x: hidden;
  background-color:#060f1c;
}
 /* Titles */
 .titles{
   color: #64FFDA;
 }

 .titles--projects{
   margin-bottom: 50px;
 }

/* navigation */
.navbar{
  z-index: 2;
  background-color:#0A192F;
  text-decoration: none;
}
.navigation{
  z-index: 3;
  margin: 0;
  padding:0;
  margin-right: 20%;
  text-decoration: none;
}
.navigation--item-button{
  text-decoration: none;
}
.navigation--item-button a {
  text-decoration: none;
  font-size: .8rem;
  color: #64FFDA;

}
.navigation--item-style{
  background-color  :transparent; /* Green */
  text-decoration   : none;
  color             : white;
  padding           : 10px 10px;
  text-align        : center;
  text-decoration   : none;
  display           : inline-block;
}

.navigation--item-style:hover{
  transition: border 1s;
  border: 1px solid white;
  background-color:rgb(86, 86, 252);

  border-radius: 10%;
}


.navigation--read-me{
  background-color: #0A192F;
}

/* link styles */
.nav-link:hover{
  border: 2px solid rgba(93, 93, 247, 0.564);
}

/* logo styles */
.avatar{
  border-radius       : 50%;
}

/* navigation */


/* video bg*/

.v-header{
  height      : 100vh;
  display     : flex;
  align-items : center;
  color       : white;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.container--outside-elements{
  max-width: 1295px;
}

@media (max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;  
  }
}

.fullscreen-video-wrap{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
}

.header-overlay{
  height: 100vh;
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 45, 0.818);
  z-index: 1;
}

.header-content{
  z-index:2;
  text-align: left;
  margin-bottom:295px;
  /*TODO: media query for larger size: 540 */
}

.title-name{
  color         :white;
  font-size     :70px;
  font-weight   : 700;
  margin-bottom :0;
}

.header-content h1{ 
  /* color         :white; */
  font-size     :50px;
  margin-bottom :0;
  margin-top    :0px;
}

.header-content p{
  /* color         :white; */
  font-size     :1rem;
  display       :block;
  padding-bottom:.5rem;
}
.init-subtag{
  font-size     :1rem;
  font-weight   :400;
  margin        : 10px;
  margin-top    :100px ;
  margin-left   :2px;
}

.btn{
  background:;
  color:white;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}


.section{ 
  max-width:960px;
  height:100vh;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
  padding-bottom:100px ;
  display   :flex;
}

.section-a{
  padding-top: 50px;
  
}


.section-a--container{
  /* width : 100%; */
  justify-content:space-between;
}

.section-a--container--text-section{
  width:50%;
  border: solid 1px #000;
  flex:1;
}

.section-a--container-img-section{
  width:50%;
  margin-left: auto;
  border: solid 1px #000;
  flex:1;
}

.section-a--img-container{
  border: solid 1px #000;
}

.section-b{
  flex-direction: column;
}

.section-c{
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.profile-image{
  border-radius: 200px;
  width: 50%;
}


.folder-img{
  width: 10%;
}

.projects-container{

}
/* magin nav list */
.magic-list{
  list-style-type : none;
  margin          : 0;
  padding         : 0;
  margin-top: 250px;
  z-index: 2;
  display: flex;
  justify-content: left;
  flex-direction: column;
  position: fixed;
  margin-left: 0;
  margin-right: auto;
 /* fill:white; */


}
.magic-list li a{
  display: block;
  width: 60px; 
  /* background-color:rgba(255, 255, 255, 0.352); */
  padding-top:20px;
  padding-bottom:40px;
 /* fill:white; */


}

.magic{
  width: 43px;
  height: 43px;
  border: 1px solid blue;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.304);

}


/* loader */
.loader-overlay{
  height: 100vh;
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 45, 0.818);
  z-index: 3;
  display: flex;
  justify-content:center;
  align-items: center;

}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}